<configuration>
  <appSettings>
    <add key="NODE_PENDING_PIPE_INSTANCES" value="65535" />
  </appSettings>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="startiis.js" verb="*" modules="iisnode" />
    </handlers>
    <iisnode 
      node_env="production"
      loggingEnabled="false" 
      debuggingEnabled="false" 
      devErrorsEnabled="false" 
      nodeProcessCountPerApplication="4" 
      maxConcurrentRequestsPerProcess="999999999" 
      maxNamedPipeConnectionRetry="10" 
    />
    <rewrite>
      <rules>              
         <rule name="StaticContent" stopProcessing="true">
           <match url="index.html" />
           <action type="Rewrite" url="index.html" />
         </rule>
         <rule name="DynamicContent" stopProcessing="true">
           <action type="Rewrite" url="startiis.js" />
         </rule>
      </rules>
    </rewrite>
    <urlCompression doStaticCompression="false" doDynamicCompression="false" />
  </system.webServer>
</configuration>